src/wsdl/localhost_8086/OffersAround/OfferstempWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.9-b14002 svn-revision#14004. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.9-b14002 svn-revision#14004. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.offersaroundws.teicm.gr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.offersaroundws.teicm.gr/" name="OfferstempWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.offersaroundws.teicm.gr/" schemaLocation="http://localhost:8086/OffersAround/OfferstempWS?xsd=1"/>
</xsd:schema>
</types>
<message name="InsertOffer">
<part name="parameters" element="tns:InsertOffer"/>
</message>
<message name="InsertOfferResponse">
<part name="parameters" element="tns:InsertOfferResponse"/>
</message>
<message name="SearchOffer">
<part name="parameters" element="tns:SearchOffer"/>
</message>
<message name="SearchOfferResponse">
<part name="parameters" element="tns:SearchOfferResponse"/>
</message>
<message name="AllOffers">
<part name="parameters" element="tns:AllOffers"/>
</message>
<message name="AllOffersResponse">
<part name="parameters" element="tns:AllOffersResponse"/>
</message>
<portType name="OfferstempWS">
<operation name="InsertOffer">
<input wsam:Action="http://services.offersaroundws.teicm.gr/OfferstempWS/InsertOfferRequest" message="tns:InsertOffer"/>
<output wsam:Action="http://services.offersaroundws.teicm.gr/OfferstempWS/InsertOfferResponse" message="tns:InsertOfferResponse"/>
</operation>
<operation name="SearchOffer">
<input wsam:Action="http://services.offersaroundws.teicm.gr/OfferstempWS/SearchOfferRequest" message="tns:SearchOffer"/>
<output wsam:Action="http://services.offersaroundws.teicm.gr/OfferstempWS/SearchOfferResponse" message="tns:SearchOfferResponse"/>
</operation>
<operation name="AllOffers">
<input wsam:Action="http://services.offersaroundws.teicm.gr/OfferstempWS/AllOffersRequest" message="tns:AllOffers"/>
<output wsam:Action="http://services.offersaroundws.teicm.gr/OfferstempWS/AllOffersResponse" message="tns:AllOffersResponse"/>
</operation>
</portType>
<binding name="OfferstempWSPortBinding" type="tns:OfferstempWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="InsertOffer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SearchOffer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AllOffers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="OfferstempWS">
<port name="OfferstempWSPort" binding="tns:OfferstempWSPortBinding">
<soap:address location="http://localhost:8086/OffersAround/OfferstempWS"/>
</port>
</service>
</definitions>
